html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #666;
    font-family: "Roboto", "Tahoma", "Helvetica", sans-serif;
    font-size: 14px;
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    color: #444;
    font-weight: lighter;
    margin-top: 0;
}

h3 {
    color: #222;
}

p {
    font-weight: 400;
    line-height: 24px;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
}

a {
    text-decoration: none;
    transition: color 0.2s;
}

ul {
    color: #b47acf;
    list-style-type: square;
}

ul p {
    color: #666;
    margin: 0 0 2px 0;
}