#main-header {
  position: absolute;
  width: 100%;
  padding: 15px 30px;

  top: 0;

  background-image: url("https://mf.bmstu.ru/images/topimg/lowpoly.png");
  background-size: cover;
  background-position: center;

  box-sizing: border-box;
  z-index: 100;
}

.main-header-text {
  height: 30px;
}